@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Poppins:wght@300;400;500;600&display=swap");
/*
Google Fonts...
font-family: 'Fascinate Inline', cursive;
font-family: 'Poppins', sans-serif;
*/

//-------------------- Variables
$phoneS-width: 320px;
$phoneM-width: 375px;
$phoneL-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktopL-width: 1440px;
$ws-bg: rgb(238, 238, 238);

//-------------------- Mixin
@mixin myBttns {
  cursor: pointer;
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 40px;
  margin: 20px 0;
  padding: 0 40px;
}

/*-------------------- Base HTML --------------------*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg-img.jpeg");
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*-------------------- Home : Form --------------------*/
.homeForm {
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    border-radius: 20px;
    margin: auto;
    padding: 15px;
    background-color: $ws-bg;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  form label {
    padding-left: 5px;
    margin-bottom: 5px;
  }

  form input,
  form select {
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
}

.score {
  font-size: 2rem;
  margin: 0;
  // &:hover {
  //   color: $testing-1;
  // }
}

h1 {
  font-family: "Fascinate Inline", cursive;
  filter: drop-shadow(4px 2px #1bbaea);
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.startBttn {
  @include myBttns();
}

/*-------------------- Footer --------------------*/
footer {
  text-align: center;
  background-color: $ws-bg;
  padding: 10px 0;

  a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.75rem;
    padding: 5px 0;
  }

  a:last-of-type {
    margin-left: 3rem;
  }

  .fab {
    color: black;
  }

  p {
    font-weight: 500;
    padding: 10px 15px 0;
    font-size: 1.125rem;
  }
}

/*-------------------- Media Queries --------------------*/
@media screen and (max-width: 492px) {
  .homeForm {
    height: calc(100vh - 123px);
  }
}