@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Poppins:wght@300;400;500;600;700&display=swap");
.dots {
  background-color: rgba(106, 147, 167, 0.2);
  height: calc(100vh - 105px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.dots div {
  width: 0.8em;
  height: 0.8em;
  margin-left: 12px;
  border-radius: 50%;
  background-color: #eeeeee;
  -webkit-filter: drop-shadow(0px 0px 2px black);
          filter: drop-shadow(0px 0px 2px black);
  -webkit-animation: fade 0.8s ease-in-out alternate infinite;
          animation: fade 0.8s ease-in-out alternate infinite;
}

.dots div:nth-of-type(1) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.dots div:nth-of-type(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*-------------------- Base HTML --------------------*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.8)), url("../unsplash-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Fascinate Inline", cursive;
  -webkit-filter: drop-shadow(4px 2px #1bbaea);
          filter: drop-shadow(4px 2px #1bbaea);
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

/*-------------------- Home.tsx --------------------*/
.homeForm {
  background-color: rgba(106, 147, 167, 0.2);
  height: calc(100vh - 105px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeForm p {
  margin: 0 0 20px 5px;
  font-weight: 500;
}

.homeForm p span {
  color: red;
}

.homeForm form {
  width: 400px;
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeForm form label {
  margin: 0 0 5px 5px;
  font-weight: 600;
}

.homeForm form input,
.homeForm form select {
  padding: 8px;
  margin-left: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

.homeForm .startButton {
  cursor: pointer;
  border: 2px solid #635544;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e4e4), to(#ce811d));
  background: linear-gradient(180deg, #f1e4e4, #ce811d);
  font-weight: 600;
}

/*-------------------- QuestionCard.tsx --------------------*/
.cardContainer {
  background-color: rgba(106, 147, 167, 0.2);
  height: calc(100vh - 105px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardContainer .cards {
  width: 400px;
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardContainer .cards h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.cardContainer .cards p {
  margin-top: 10px;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}

.cardContainer .cards .answersButtons :hover {
  opacity: 0.8;
}

.cardContainer .cards .answersButtons button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  -webkit-box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
          box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
  border-radius: 15px;
  color: black;
}

.cardContainer .cards .answersButtons .correctAns {
  border: 2px solid #008a00;
  background: lightgreen;
}

.cardContainer .cards .answersButtons .wrongAns {
  border: 2px solid #e91919;
  background: lightcoral;
}

.cardContainer .cards .answersButtons .anyAns {
  background: #b6fff6;
  border: 2px solid #ec6837;
  -webkit-animation: fadeInDown;
          animation: fadeInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.cardContainer .cards .nextButton {
  cursor: pointer;
  border: 2px solid #635544;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e4e4), to(#ce811d));
  background: linear-gradient(180deg, #f1e4e4, #ce811d);
  font-weight: 600;
  margin: 20px auto 10px;
}

.cardContainer .cards .gameoverButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardContainer .cards .gameoverButtonsContainer .showResultsButton {
  cursor: pointer;
  border: 2px solid #635544;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e4e4), to(#ce811d));
  background: linear-gradient(180deg, #f1e4e4, #ce811d);
  font-weight: 600;
  margin: 10px 0 15px;
  background: #1bbaea;
}

.cardContainer .cards .gameoverButtonsContainer .resetQuizButton {
  cursor: pointer;
  border: 2px solid #635544;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e4e4), to(#ce811d));
  background: linear-gradient(180deg, #f1e4e4, #ce811d);
  font-weight: 600;
}

.cardContainer .cards .gameoverButtonsContainer .resetQuizButton a {
  color: black;
  text-decoration: none;
}

/*-------------------- ShowResults.tsx --------------------*/
.resContainer {
  min-height: calc(100vh - 105px);
  background-color: rgba(106, 147, 167, 0.2);
  color: white;
}

.resContainer h4 {
  text-shadow: black 0px 0px 2px;
  font-size: 26px;
  padding: 50px 20px;
  text-align: center;
}

.resContainer .ansContainer {
  padding: 0 25px 20px;
}

.resContainer .ansContainer .eachDiv {
  margin-bottom: 30px;
}

.resContainer .ansContainer .eachDiv .oneLine p {
  position: relative;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.resContainer .ansContainer .eachDiv .oneLine p span {
  color: #eeeeee;
  text-shadow: black 0px 0px 2px;
  padding-left: 10px;
}

.resContainer .ansContainer .eachDiv .oneLine .scoreOne {
  color: #00ff5e;
}

.resContainer .ansContainer .eachDiv .oneLine .scoreZero {
  color: #ee4b2b;
}

.resContainer .ansContainer .eachDiv .oneLine .scoreOne::before {
  content: "";
  z-index: -100;
  left: 1px;
  top: 24px;
  position: absolute;
  background: #00ff5e;
  height: 2px;
  width: 36px;
}

.resContainer .ansContainer .eachDiv .oneLine .scoreZero::before {
  content: "";
  z-index: -100;
  left: 1px;
  top: 24px;
  position: absolute;
  background: #ee4b2b;
  height: 2px;
  width: 42px;
}

.resContainer .ansContainer .eachDiv .oneLine .anyResBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 20px;
  margin: 10px 0 15px;
  -webkit-box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
          box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
  border-radius: 15px;
  color: black;
  width: 200px;
  background: #b6fff6;
  border: 2px solid #ec6837;
}

.resContainer .ansContainer .eachDiv .oneLine .correctResBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 20px;
  margin: 10px 0 15px;
  -webkit-box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
          box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
  border-radius: 15px;
  color: black;
  width: 200px;
  background: lightgreen;
  border: 2px solid #008a00;
}

.resContainer .ansContainer .eachDiv .oneLine .wrongResBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 20px;
  margin: 10px 0 15px;
  -webkit-box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
          box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.678);
  border-radius: 15px;
  color: black;
  width: 200px;
  background: lightcoral;
  border: 2px solid #e91919;
}

/*-------------------- Footer.tsx --------------------*/
footer {
  text-align: center;
  background-color: #eeeeee;
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.75rem;
  padding: 5px 0;
}

footer a:last-of-type {
  margin-left: 3rem;
}

footer .fab {
  color: black;
}

footer p {
  font-weight: 500;
  padding: 10px 15px;
  font-size: 1.125rem;
}

/*-------------------- Media Queries --------------------*/
@media screen and (max-width: 492px) {
  .homeForm,
  .dots,
  .cardContainer {
    height: calc(100vh - 132px);
  }
}

@media screen and (max-width: 425px) {
  .homeForm form {
    width: 360px;
  }
  .cardContainer .cards {
    width: 360px;
  }
}

@media screen and (max-width: 375px) {
  .homeForm form {
    padding: 10px;
    margin: 30px auto;
    width: 320px;
  }
  .cardContainer {
    height: 100%;
  }
  .cardContainer .cards {
    margin: 30px auto;
    width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .homeForm form {
    width: 300px;
  }
  .cardContainer .cards {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .homeForm form {
    width: 270px;
  }
  .cardContainer .cards {
    width: 270px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .homeForm {
    height: 100%;
  }
  .homeForm form {
    margin: 50px auto;
  }
}

@media screen and (max-width: 375px) and (max-height: 720px) {
  .homeForm {
    height: 100%;
  }
  .homeForm form {
    margin: 50px auto;
  }
}

@media screen and (max-width: 667px) and (max-height: 375px) {
  .homeForm {
    height: 100%;
  }
  .homeForm form {
    margin: 50px auto;
  }
  .cardContainer .cards {
    margin: 50px auto;
  }
}
/*# sourceMappingURL=style.css.map */